# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.coverprofile

# Dependency directories (remove the comment if you use vendoring)
/vendor/

# Go workspace file
go.work

# IDE/editor files
.idea/
.vscode/
*.swp
*.tmp
*~
.DS_Store


# Environment files
.env

#storage
storage.db
local.yaml

# Logs
*.log

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
